html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/back.jpg');
    background-size: cover;
}

.container {
    background-color: #dd5555;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
}