body {
  font-family: 'Roboto Condensed', sans-serif;
  background: url('img/back.jpg') no-repeat center center fixed; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff; 
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  background: rgba(0, 0, 0, 0.8); /* Thêm độ trong suốt cho background của hộp đăng nhập */
  padding: 30px; /* Tăng padding để làm cho ô login to ra chút */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 350px; /* Tăng kích thước của hộp đăng nhập */
  text-align: center;
}

.login-title {
  margin-bottom: 20px;
  font-size: 30px; /* Tăng kích thước chữ */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px; /* Tăng padding cho các ô input */
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
}

.password-container {
  position: relative;
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007BFF;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me {
  font-size: 14px;
}

.forgot-password {
  font-size: 14px;
  color: #007BFF;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 12px; /* Tăng padding cho nút login */
  background: #007BFF;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background: #0056b3;
}

.separator {
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.separator span {
  background: #000;
  padding: 0 10px;
}

.social-login {
  display: flex;
  justify-content: space-between;
}

.social-button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #1da1f2;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}
