
:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.header {
    background-color: rgb(187, 84, 173);
    color: #fff;
    height: 40px;
    display: flex;
    position: relative;
    padding-bottom: 38px;
    justify-content: space-between;
    align-items: center;
}

.avt {
    position: relative;
    top: 10px;
    margin: 10px;
    font-weight: bold;
    font-style: italic;
}

.search-container {
    display: flex;
    align-items: left;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    right: 3rem;
    top: 15px;
}

.search-box {
    padding: 11px;
    border: none;
    outline: none;
    width: 300px;
}

.search-button {
    padding: 5px 10px;
    background-color: #33ae2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    background-image: url('../img/back.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    padding-bottom: 100px; 
    position: relative;
    min-height: 100vh;
}

.auth-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 19px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px; 
    text-align: center; 
    margin-right: 10px;
    margin-top: 30px;
}

.login-btn {
    background-color: var(--bg-primary);
    color: #fff; 
}

.login-btn:hover {
    background-color: #0d0e0f; 
}

.register-btn {
    background-color: #ffd700; 
    color: #000; 
}

.register-btn:hover {
    background-color: #daa520;
}
.gvThpm {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
}

*, ::before, ::after {
    box-sizing: border-box;
}
html {
    line-height: 1.15;
    text-size-adjust: 100%;
}

.topbar {
    
}

.fixed-column {
    position: relative;
    left: 52rem;
    padding: 50px;
    background-color: #292828;

}

